


<app-header></app-header>

<!--
<div class="slider_section">

  <div class="carouselWrapper col-lg-8 col-xs-5">

    <p-carousel [value]="carousel_items" [numVisible]="1" [numScroll]="1" [showNavigators]="false" autoplayInterval="3000" contentClass="">
      <ng-template let-product #item>
        <div class="carousel_inner">
          <a href="/productGeneral"> <img src="/assets/img/{{ product.image }}" [alt]="product.name" class="w-full" /> </a>
        </div>
      </ng-template>
    </p-carousel>

  </div>


  <div class="aboutOsg col-lg-4 col-xs-2">

    <div class="">
      <a href="/factory">
        <img src="assets/img/osg.jpg" alt=""/>
      </a>
    </div>

    <div class="">
      <a href="newdetails">
        <img src="assets/img/green2.jpg" alt=""/>
      </a>
    </div>

  </div>

</div>
-->

<div class="videoProduct">
  <video class="background-video" src="assets/videos/OSG-Brand-Products.mp4" [autoplay]="true" [muted]="true" [loop]="true" preload="auto" playsinline>

  </video>
</div>



<div class="products-section col-lg-12 col-md-12 col-xs-6">

    <div class="productCategory">

        <div class="product-card zoom-in" *ngFor="let categ of categories">
          <a routerLink="/product/{{categ.category}}">
          <div class="product-details">
            <div class="icon d-flex justify-content-center align-items-center">
            <img src="{{categ.image}}"/>
            </div>
            <div class=" d-flex justify-content-center align-items-center">
            <h5 class="">{{categ.category}}</h5>
            </div>
          </div>
          </a>
        </div>

    </div>
</div>


<div class="container">


<!--
  <section id="products" class="products">

    <div class="productSection mt-5">

      <div class="product-wrapper p-1 d-flex flex-column justify-content-between" *ngFor="let categ of categories"
           [ngClass]="{'taps_category': categ.category == 'Taps' , 'drills_category': categ.category == 'Drills',
              'mills_category': categ.category == 'EndMills', 'reamers_category': categ.category == 'Reamers', 'indexables_category': categ.category == 'Indexables',
              'gauges_category': categ.category == 'Gauges'}" >
        <a routerLink="/product/{{categ.category}}">
          <div class="product-details">
          <span class="icon">
            <img src="{{categ.image}}"/>
            <h3 class="fs-5">{{categ.category}}</h3>
          </span>

          </div>
        </a>
      </div>

    </div>
  </section>
-->

<!--

<section id="products" class="products">

  <div class="productCategory mt-5">

      <div class="product-card product-box p-1 d-flex flex-column justify-content-between" *ngFor="let categ of categories"
           [ngClass]="{'taps_category': categ.category == 'Taps' , 'drills_category': categ.category == 'Drills',
              'mills_category': categ.category == 'EndMills', 'reamers_category': categ.category == 'Reamers', 'indexables_category': categ.category == 'Indexables',
              'gauges_category': categ.category == 'Gauges'}" >
        <a routerLink="/product/{{categ.category}}">
        <div class="product-details">
          <span class="icon">
            <img src="{{categ.image}}"/>

          </span>
          <h3 class="fs-5">{{categ.category}}</h3>
        </div>
        </a>
      </div>

  </div>
</section>

-->

  <section class="section-brands">

    <div class="">
      <h3>Other Brands</h3>
    </div>

  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="brands">

    <ngu-tile  *nguCarouselDef="let item;">
      <div class="brand">
        <div class="brand-item">
          <div class="brandImg">
            <img src="{{item.image}}" class="" alt="">
          </div>
          <div class="brandDetails">
            <a href="https://www.wexo.com/en/" target="_blank" class="stretched-link">
              <h3>{{item.name}}</h3>
            </a>
            <p>Provident nihil minus qui consequtatur non omnis maiores. Eos accusantium minus dolores iure
                perferendis.
            </p>
          </div>
        </div>
      </div>
    </ngu-tile>
    <ul class="myPoint" NguCarouselPoint>
      <li *ngFor="let i of myCarousel.pointNumbers(); let j = index" [class.active]="i == myCarousel.activePoint()" (click)="myCarousel.moveTo(j)">
      </li>
    </ul>

  </ngu-carousel>

  </section>


  <!--
  <section class="section-brands">

    <div class="">
      <h3>Other Brands</h3>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-6 brands">

      <p-carousel [value]="brands" [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
        <ng-template let-brand #item>

      <div class="brand">
        <div class="brand-item">
          <div class="brandImg">
            <img src="{{brand.image}}" class="img-fluid" alt="">
          </div>
          <div class="brandDetails">
            <a href="https://www.wexo.com/en/" target="_blank" class="stretched-link">
              <h3>{{brand.name}}</h3>

            <p>Provident nihil minus qui consequtatur non omnis maiores. Eos accusantium minus dolores iure
              perferendis.</p>
          </a>
          </div>
        </div>
      </div>

        </ng-template>
      </p-carousel>

    </div>

  </section>
-->

<!--News-->
<section class="container section-bestProducts">

  <div class="mt-5">
    <h3 class="">Bestsellers</h3>
  </div>
  <div>

      <ngu-carousel #bestProducts [inputs]="carouselConfigProducts" [dataSource]="products">

         <ngu-tile *nguCarouselDef="let product;">

           <div class="latest-news-item">
             <div class="rounded">
                <div class="d-flex justify-content-center align-items-center">
                  <img src="assets/img/tap170.jpg" [alt]="product.name"  class="img-fluid rounded-top">
                </div>
             <div class="d-flex flex-column p-4 banner-info">
              <a href="#" class="d-flex justify-content-center align-items-center text-align-center overflow-wrap-normal">{{ product.title }}</a>
              <div class="d-flex">
                <a href="#" class="small text-body link-hover">{{ product.description }}</a>
              </div>
            </div>
          </div>
        </div>

         </ngu-tile>

        <button NguCarouselPrev class="leftRs" >&lt;</button>
        <button NguCarouselNext class="rightRs" >&gt;</button>

        <ul class="myPoint" NguCarouselPoint>
          <li *ngFor="let i of bestProducts.pointNumbers(); let j = index" [class.active]="i == bestProducts.activePoint()" (click)="bestProducts.moveTo(j)">
          </li>
        </ul>

      </ngu-carousel>

  </div>


  <div class="mt-5">
    <h3 class="">New Products</h3>
  </div>
  <div>

    <ngu-carousel #newProducts [inputs]="carouselConfigProducts" [dataSource]="products"
    >
      <ngu-tile *nguCarouselDef="let product;">

        <div class="latest-news-item">
          <div class="rounded">
            <div class="d-flex justify-content-center align-items-center">
              <img src="assets/img/tap170.jpg" [alt]="product.name"  class="img-fluid rounded-top">
            </div>
            <div class="d-flex flex-column p-4 banner-info">
              <a href="#" class="d-flex justify-content-center align-items-center text-align-center overflow-wrap-normal">{{ product.title }}</a>
              <div class="d-flex">
                <a href="#" class="small text-body link-hover">{{ product.description }}</a>
              </div>
            </div>
          </div>
        </div>

      </ngu-tile>

      <button NguCarouselPrev class="leftRs" >&lt;</button>
      <button NguCarouselNext class="rightRs" >&gt;</button>

      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let i of newProducts.pointNumbers(); let j = index" [class.active]="i == newProducts.activePoint()" (click)="newProducts.moveTo(j)">
        </li>
      </ul>

    </ngu-carousel>

  </div>

  </section>


  <section>
    <div class="shaping-your-dreams mt-5">

      <div class="">
        <h3>OSG Shaping</h3>
      </div><!-- End Section Title -->

      <div class="row">

        <div class="col-lg-5 col-xs-3">
          <div class="hero-image-wrapper">
            <img src="assets/img/ado_micro.jpg" alt="Student Life" class="img-fluid main-image">
          </div>
        </div>

        <div class="col-lg-7 col-xs-5">
          <div class="content-wrapper">

            <h3>Vivamus consequat lorem at nisl laoreet commodo a ac lectus</h3>
            <p class="lead-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
              egestas. Vestibulum tortor quam, feugiat vitae.</p>

            <div class="info-grid">
              <div class="info-item">
                <div class="info-icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <div class="info-text">
                  <strong>Year-Round Events</strong>
                  <span>Duis aute irure dolor in reprehenderit voluptate</span>
                </div>
              </div>

              <div class="info-item">
                <div class="info-icon">
                  <i class="bi bi-award"></i>
                </div>
                <div class="info-text">
                  <strong>Achievement Programs</strong>
                  <span>Excepteur sint occaecat cupidatat non proident</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>





  <section class="latest-blogs">

    <div class="">
      <h3>Recent Blogs</h3>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-6 blogs">

      <div class="blog" *ngFor="let video of youtubeVideos">
        <div class="blog-item">
          <div class="blogVideo">
            <ngx-lite-youtube [videoId]="video?.videoId"></ngx-lite-youtube>
          </div>
          <div class="blogDetails">
            <a href="" class="stretched-link">
              <h4> {{video?.title}} </h4>
            </a>

          </div>
        </div>
      </div>

    </div>
  </section>


<div #menuDown id="menuDown">
  <ul class="floating">
    <li>
      <a href="/product"> <img src="assets/img/osg_japan.png" width="30px" alt=""/> Products </a>
    </li>
    <li>
      <a href="/factory"> <img src="assets/img/world.png" width="30px" alt=""/> Global World </a>
    </li>
    <li>
      <a href="/contact"> <img src="assets/img/telephone.png" width="30px" alt=""/> Contact Us </a>
    </li>
    <li>
      <a (click)="scrollToTop()"> <img src="assets/img/arrow-up.png" width="30px" alt=""/> </a>
    </li>
  </ul>
</div>

</div>

<section id="clients" class="clients">

  <div class="row gy-4">

    <div class="col-xl-2 col-md-3 col-6 client-logo">
      <img src="assets/img/client-1.png" class="img-fluid" alt="">
    </div>

    <div class="col-xl-2 col-md-3 col-6 client-logo">
      <img src="assets/img/client-2.png" class="img-fluid" alt="">
    </div>

    <div class="col-xl-2 col-md-3 col-6 client-logo">
      <img src="assets/img/client-3.png" class="img-fluid" alt="">
    </div>

    <div class="col-xl-2 col-md-3 col-6 client-logo">
      <img src="assets/img/client-4.png" class="img-fluid" alt="">
    </div>

    <div class="col-xl-2 col-md-3 col-6 client-logo">
      <img src="assets/img/client-5.png" class="img-fluid" alt="">
    </div>

    <div class="col-xl-2 col-md-3 col-6 client-logo">
      <img src="assets/img/client-6.png" class="img-fluid" alt="">
    </div>

  </div>

</section>

<app-footer></app-footer>




